/* IMPOSTAZIONI GENERALI */
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5em;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  background-image: url("assets/img/sfondo.png");
  text-align: center;
  padding: 2em;
}
main {
  background-color: white;
  margin: 2em;
  padding: 2em;
  text-align: left;
}
li {
  margin: 1em;
}
span {
  border: 1px solid rgb(134, 134, 134);
  border-radius: 0.5em;
  background-color: rgb(223, 223, 223);
}
.bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.bold:link,
.bold:visited {
  color: rgb(56, 158, 253);
}

.shadow {
  box-shadow: 12px 15px 4px -8px rgba(0, 0, 0, 0.1);
}

/* HEADER */
#menu {
  text-align: center;
  color: white;
  padding: 1.5em;
  background: linear-gradient(rgb(29, 181, 207), rgb(11, 64, 80));
  margin: 2em;
  padding: 2em;
}
.menu:link,
.menu:visited {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
#logo {
  width: 15em;
  margin: 1em;
}
/* MAIN */
.center {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}
.ul {
  margin: 2em;
  list-style-type: disc;
}
ol {
  margin: 2em;
  list-style-type: decimal;
}
h1 {
  font-size: larger;
  margin-top: 1em;
  margin-bottom: 1em;
}
h2 {
  font-size: large;
}
h5 {
  color: darkgrey;
  margin-top: 1em;
  margin-bottom: 1em;
}
strong {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: darkmagenta;
}
/* ELEMENTI NEL MAIN - ARTICLE */
#video {
  width: 100%;
  border-radius: 1.5em;
  margin-top: 1em;
  margin-bottom: 1em;
}
/* TABELLE */
table {
  width: 100%;
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: center;
  border-bottom: 2px solid rgb(64, 113, 206);
  border-collapse: collapse;
}
th {
  padding: 1.5em;
  background-color: rgb(64, 113, 206);
  border-right: 0.1em solid rgb(98, 152, 252);
  color: white;
}
td {
  padding: 0.7em;
}
.tr_background {
  background-color: rgb(241, 241, 241);
}
/* FORM */
.input {
  border-bottom: 1px dashed;
}
#invio {
  background-color: rgb(34, 133, 231);
  color: white;
}
/* ELEMENTI NELL' ASIDE */
.box {
  background-color: rgb(219, 218, 218);
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}
li > div {
  font-size: small;
  text-align: right;
  margin: 0.5em;
}
.block {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
/* FOOTER */
.background_gradient {
  text-align: center;
  color: white;
  padding: 1.5em;
  background: linear-gradient(rgb(19, 100, 124), rgb(6, 41, 48));
  margin: 2em;
  padding: 2em;
}
#mail:link,
#mail:visited {
  color: rgb(255, 53, 221);
}
